---
const platFormUserNameMap: string[][] = [
    ["github", "justDabuK"],
    ["instagram", "justdabu"],
    ["reddit", "justDabuK"]
]
---

<footer>
    <p>Learn more about my projects on:</p>
    <ul>
        {platFormUserNameMap.map((platFormAndUserName) => <li><a href={`https://www.${platFormAndUserName[0]}.com/${platFormAndUserName[1]}`}>{platFormAndUserName[0]}</a></li>)}
    </ul>
</footer>